
page-about {
    .background-home {
        background-image: linear-gradient(to right top, #1a0a3a, #240f51, #2f146a, #3b1884, #471c9e);
        color: #ffffff;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
        overflow:hidden;
    }
    
    ion-content{
        background: url('https://i.imgur.com/olLunTc.jpg')no-repeat fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    
    .model-circleheat{
        background-color: #ff3e62; 
        height:60px;
        border-radius: 50%;
        right: 2%;
    }
    .model-ice{
        background-color:#00ccff; 
        height:60px;
        border-radius: 50%;
        right: 2%;
    }
    .model-circle{
        height:60px;
        border-radius: 50%;
        right: 2%;
    }
    .model-circlegraph{
       
        height:60px;
        border-radius: 50%;
        right: 2%;
        box-shadow:
        0 0 60px 2px #998ead;  /* inner white */
        background-color: #998ead;
        
        
    }
    .manu-top{
        padding-left: 28%;
        padding-right: 28%;
        padding-top: 28%; 
    }
    .manu-B{
        padding-left: 28%;
        padding-right: 28%;
        padding-top: 28%; 
    }
      
}

