page-apigoogle {
    .bg{
        background-image: linear-gradient(to left bottom, #246870, #457e7f, #64948f, #83aba0, #a2c2b3);   
    }
    .slide{
       
        width: 80%;
        background-color: #ffffff;
        border-radius: 25px;
        border: 1px solid rgba(255, 255, 255, 0.5);

    }
    .imgapi{
        height: 320px;
        width: 80%;
    
    }
    .label1{
        font-size: 20px;
        color:	#246870
        
    }
    .label2{
        font-size: 12px;
        color:	#9a823d
        
    }
    .wave {
        position: absolute;
        width: 900px;
        height: 900px;
        transform-origin: 50% 40%;
        border-radius: 43%;
        animation: drift 3000ms infinite linear;
        opacity: 0.3;
        bottom: -140%;
        left: -70%;
        background-image: linear-gradient(to right top, #246870, #0d7f6b, #4d914c, #959a21, #e9941b);
        box-shadow:20px 20px 50px 15px #246870;
        
    }
    
    .wave.wave1 {
        animation: drift 6000ms infinite linear;
    }
    
    .wave.wave2{
        animation: drift 8000ms infinite linear;
    }
    
    @keyframes drift {
        from{transform: rotate(0deg);}
        from{transform: rotate(360deg);}
    }
    ion-header {
        
      
        .toolbar-background {
          background-color: #f4a93d ;
        }
        .toolbar-title {
          color: #246870;
        }
      
    }
}
