<ion-header >
    <ion-navbar >
      <ion-title color="yellow">API GOOGLE</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="bg">
    <span ion-fixed style="height: 100%; width: 100%;padding-left:15px;padding-right:15px;padding-top: 15px;padding-bottom: 15px  ">
    <div class="wave"></div>
    <div class="wave wave1"></div>
    <div class="wave wave2"></div>

    <ion-slides pager="true" effect="coverflow" >
        <ion-slide class="slide" *ngFor="let item of items | async"> 
      
        <img class="imgapi" [src]="'data:image/png;base64,' + item.imageData"/>
        <ion-list no-lines>
        <ion-list-header class="label1">Labels</ion-list-header>
        <label class="label2" *ngFor="let label of item.results[0].textAnnotations">{{label.description}}</label>
        </ion-list>
        
        </ion-slide>
    </ion-slides>  
    
  <ion-fab bottom right>
        <button ion-fab (click)="takePhoto()">
        <ion-icon name="camera"></ion-icon>
        </button>
        </ion-fab></span>
</ion-content>