
 <ion-header >
  <ion-navbar >       
    <ion-title color="yellow">FINANCE</ion-title>
  </ion-navbar>
  
</ion-header> 
<ion-content padding class="bg" style="font-family: 'MitrTH';">

    <div class="wrap">
        <div class="mat-div">
          <label for="number" class="mat-label">ราคารถ</label>
          <input type="number" class="mat-input" [(ngModel)]="car_price" >
        </div>
        
        <div class="mat-div">
          <label for="number" class="mat-label">จำนวนเงินดาวน์</label>
          <input type="number" class="mat-input" [(ngModel)]="moneydown" >
        </div>
      
        <div class="mat-div">
          <label for="number" class="mat-label">จำนวนงวด</label>
          <input type="number" class="mat-input" [(ngModel)]="period" >
        </div>

        <div class="mat-div">
            <label for="number" class="mat-label">ดอกเบี้ย</label>
            <input type="number" class="mat-input" [(ngModel)]="interest" >
        </div>
        
          <br>
     
        
          <div class="col-2">
            <button  (click)="openModal()">คำนวณ</button>
         
      </div></div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 936 128" id="el_fA6d0cT4C"><style>@-webkit-keyframes kf_el_WRos9ovgz8_an_ZyO_hddMR{0%{-webkit-transform: translate(203.61502075195312px, 64.15483093261719px) translate(-203.61502075195312px, -64.15483093261719px) translate(0px, 0px);transform: translate(203.61502075195312px, 64.15483093261719px) translate(-203.61502075195312px, -64.15483093261719px) translate(0px, 0px);}50%{-webkit-transform: translate(203.61502075195312px, 64.15483093261719px) translate(-203.61502075195312px, -64.15483093261719px) translate(700px, 0px);transform: translate(203.61502075195312px, 64.15483093261719px) translate(-203.61502075195312px, -64.15483093261719px) translate(700px, 0px);}100%{-webkit-transform: translate(203.61502075195312px, 64.15483093261719px) translate(-203.61502075195312px, -64.15483093261719px) translate(0px, 0px);transform: translate(203.61502075195312px, 64.15483093261719px) translate(-203.61502075195312px, -64.15483093261719px) translate(0px, 0px);}}@keyframes kf_el_WRos9ovgz8_an_ZyO_hddMR{0%{-webkit-transform: translate(203.61502075195312px, 64.15483093261719px) translate(-203.61502075195312px, -64.15483093261719px) translate(0px, 0px);transform: translate(203.61502075195312px, 64.15483093261719px) translate(-203.61502075195312px, -64.15483093261719px) translate(0px, 0px);}50%{-webkit-transform: translate(203.61502075195312px, 64.15483093261719px) translate(-203.61502075195312px, -64.15483093261719px) translate(700px, 0px);transform: translate(203.61502075195312px, 64.15483093261719px) translate(-203.61502075195312px, -64.15483093261719px) translate(700px, 0px);}100%{-webkit-transform: translate(203.61502075195312px, 64.15483093261719px) translate(-203.61502075195312px, -64.15483093261719px) translate(0px, 0px);transform: translate(203.61502075195312px, 64.15483093261719px) translate(-203.61502075195312px, -64.15483093261719px) translate(0px, 0px);}}@-webkit-keyframes kf_el_Jor1VegS_E_an_TX1rc7uUU{0%{-webkit-transform: translate(77.62800598144531px, 79.40599822998047px) translate(-77.62800598144531px, -79.40599822998047px) translate(0px, 0px);transform: translate(77.62800598144531px, 79.40599822998047px) translate(-77.62800598144531px, -79.40599822998047px) translate(0px, 0px);}50%{-webkit-transform: translate(77.62800598144531px, 79.40599822998047px) translate(-77.62800598144531px, -79.40599822998047px) translate(700px, 0px);transform: translate(77.62800598144531px, 79.40599822998047px) translate(-77.62800598144531px, -79.40599822998047px) translate(700px, 0px);}100%{-webkit-transform: translate(77.62800598144531px, 79.40599822998047px) translate(-77.62800598144531px, -79.40599822998047px) translate(0px, 0px);transform: translate(77.62800598144531px, 79.40599822998047px) translate(-77.62800598144531px, -79.40599822998047px) translate(0px, 0px);}}@keyframes kf_el_Jor1VegS_E_an_TX1rc7uUU{0%{-webkit-transform: translate(77.62800598144531px, 79.40599822998047px) translate(-77.62800598144531px, -79.40599822998047px) translate(0px, 0px);transform: translate(77.62800598144531px, 79.40599822998047px) translate(-77.62800598144531px, -79.40599822998047px) translate(0px, 0px);}50%{-webkit-transform: translate(77.62800598144531px, 79.40599822998047px) translate(-77.62800598144531px, -79.40599822998047px) translate(700px, 0px);transform: translate(77.62800598144531px, 79.40599822998047px) translate(-77.62800598144531px, -79.40599822998047px) translate(700px, 0px);}100%{-webkit-transform: translate(77.62800598144531px, 79.40599822998047px) translate(-77.62800598144531px, -79.40599822998047px) translate(0px, 0px);transform: translate(77.62800598144531px, 79.40599822998047px) translate(-77.62800598144531px, -79.40599822998047px) translate(0px, 0px);}}@-webkit-keyframes kf_el_5EKBp5UZoL_an_u-dOQtE_-{0%{-webkit-transform: translate(85.72200012207031px, 85.71900177001953px) translate(-85.72200012207031px, -85.71900177001953px) translate(0px, 0px);transform: translate(85.72200012207031px, 85.71900177001953px) translate(-85.72200012207031px, -85.71900177001953px) translate(0px, 0px);}50%{-webkit-transform: translate(85.72200012207031px, 85.71900177001953px) translate(-85.72200012207031px, -85.71900177001953px) translate(700px, 0px);transform: translate(85.72200012207031px, 85.71900177001953px) translate(-85.72200012207031px, -85.71900177001953px) translate(700px, 0px);}100%{-webkit-transform: translate(85.72200012207031px, 85.71900177001953px) translate(-85.72200012207031px, -85.71900177001953px) translate(0px, 0px);transform: translate(85.72200012207031px, 85.71900177001953px) translate(-85.72200012207031px, -85.71900177001953px) translate(0px, 0px);}}@keyframes kf_el_5EKBp5UZoL_an_u-dOQtE_-{0%{-webkit-transform: translate(85.72200012207031px, 85.71900177001953px) translate(-85.72200012207031px, -85.71900177001953px) translate(0px, 0px);transform: translate(85.72200012207031px, 85.71900177001953px) translate(-85.72200012207031px, -85.71900177001953px) translate(0px, 0px);}50%{-webkit-transform: translate(85.72200012207031px, 85.71900177001953px) translate(-85.72200012207031px, -85.71900177001953px) translate(700px, 0px);transform: translate(85.72200012207031px, 85.71900177001953px) translate(-85.72200012207031px, -85.71900177001953px) translate(700px, 0px);}100%{-webkit-transform: translate(85.72200012207031px, 85.71900177001953px) translate(-85.72200012207031px, -85.71900177001953px) translate(0px, 0px);transform: translate(85.72200012207031px, 85.71900177001953px) translate(-85.72200012207031px, -85.71900177001953px) translate(0px, 0px);}}@-webkit-keyframes kf_el_RNAh8sB-96_an_S-u5IL6y5{0%{-webkit-transform: translate(95.12000274658203px, 31.36400032043457px) translate(-95.12000274658203px, -31.36400032043457px) translate(0px, 0px);transform: translate(95.12000274658203px, 31.36400032043457px) translate(-95.12000274658203px, -31.36400032043457px) translate(0px, 0px);}50%{-webkit-transform: translate(95.12000274658203px, 31.36400032043457px) translate(-95.12000274658203px, -31.36400032043457px) translate(700px, 0px);transform: translate(95.12000274658203px, 31.36400032043457px) translate(-95.12000274658203px, -31.36400032043457px) translate(700px, 0px);}100%{-webkit-transform: translate(95.12000274658203px, 31.36400032043457px) translate(-95.12000274658203px, -31.36400032043457px) translate(0px, 0px);transform: translate(95.12000274658203px, 31.36400032043457px) translate(-95.12000274658203px, -31.36400032043457px) translate(0px, 0px);}}@keyframes kf_el_RNAh8sB-96_an_S-u5IL6y5{0%{-webkit-transform: translate(95.12000274658203px, 31.36400032043457px) translate(-95.12000274658203px, -31.36400032043457px) translate(0px, 0px);transform: translate(95.12000274658203px, 31.36400032043457px) translate(-95.12000274658203px, -31.36400032043457px) translate(0px, 0px);}50%{-webkit-transform: translate(95.12000274658203px, 31.36400032043457px) translate(-95.12000274658203px, -31.36400032043457px) translate(700px, 0px);transform: translate(95.12000274658203px, 31.36400032043457px) translate(-95.12000274658203px, -31.36400032043457px) translate(700px, 0px);}100%{-webkit-transform: translate(95.12000274658203px, 31.36400032043457px) translate(-95.12000274658203px, -31.36400032043457px) translate(0px, 0px);transform: translate(95.12000274658203px, 31.36400032043457px) translate(-95.12000274658203px, -31.36400032043457px) translate(0px, 0px);}}@-webkit-keyframes kf_el_zcqFJG-T9J_an_QtqJNg9hq{0%{-webkit-transform: translate(8px, 31.99199867248535px) translate(-8px, -31.99199867248535px) translate(0px, 0px);transform: translate(8px, 31.99199867248535px) translate(-8px, -31.99199867248535px) translate(0px, 0px);}50%{-webkit-transform: translate(8px, 31.99199867248535px) translate(-8px, -31.99199867248535px) translate(700px, 0px);transform: translate(8px, 31.99199867248535px) translate(-8px, -31.99199867248535px) translate(700px, 0px);}100%{-webkit-transform: translate(8px, 31.99199867248535px) translate(-8px, -31.99199867248535px) translate(0px, 0px);transform: translate(8px, 31.99199867248535px) translate(-8px, -31.99199867248535px) translate(0px, 0px);}}@keyframes kf_el_zcqFJG-T9J_an_QtqJNg9hq{0%{-webkit-transform: translate(8px, 31.99199867248535px) translate(-8px, -31.99199867248535px) translate(0px, 0px);transform: translate(8px, 31.99199867248535px) translate(-8px, -31.99199867248535px) translate(0px, 0px);}50%{-webkit-transform: translate(8px, 31.99199867248535px) translate(-8px, -31.99199867248535px) translate(700px, 0px);transform: translate(8px, 31.99199867248535px) translate(-8px, -31.99199867248535px) translate(700px, 0px);}100%{-webkit-transform: translate(8px, 31.99199867248535px) translate(-8px, -31.99199867248535px) translate(0px, 0px);transform: translate(8px, 31.99199867248535px) translate(-8px, -31.99199867248535px) translate(0px, 0px);}}@-webkit-keyframes kf_el_TgqVqSLwWK_an_usTUR-now{0%{-webkit-transform: translate(59.592308044433594px, 30.00946617126465px) translate(-59.592308044433594px, -30.00946617126465px) translate(0px, 0px);transform: translate(59.592308044433594px, 30.00946617126465px) translate(-59.592308044433594px, -30.00946617126465px) translate(0px, 0px);}50%{-webkit-transform: translate(59.592308044433594px, 30.00946617126465px) translate(-59.592308044433594px, -30.00946617126465px) translate(700px, 0px);transform: translate(59.592308044433594px, 30.00946617126465px) translate(-59.592308044433594px, -30.00946617126465px) translate(700px, 0px);}100%{-webkit-transform: translate(59.592308044433594px, 30.00946617126465px) translate(-59.592308044433594px, -30.00946617126465px) translate(0px, 0px);transform: translate(59.592308044433594px, 30.00946617126465px) translate(-59.592308044433594px, -30.00946617126465px) translate(0px, 0px);}}@keyframes kf_el_TgqVqSLwWK_an_usTUR-now{0%{-webkit-transform: translate(59.592308044433594px, 30.00946617126465px) translate(-59.592308044433594px, -30.00946617126465px) translate(0px, 0px);transform: translate(59.592308044433594px, 30.00946617126465px) translate(-59.592308044433594px, -30.00946617126465px) translate(0px, 0px);}50%{-webkit-transform: translate(59.592308044433594px, 30.00946617126465px) translate(-59.592308044433594px, -30.00946617126465px) translate(700px, 0px);transform: translate(59.592308044433594px, 30.00946617126465px) translate(-59.592308044433594px, -30.00946617126465px) translate(700px, 0px);}100%{-webkit-transform: translate(59.592308044433594px, 30.00946617126465px) translate(-59.592308044433594px, -30.00946617126465px) translate(0px, 0px);transform: translate(59.592308044433594px, 30.00946617126465px) translate(-59.592308044433594px, -30.00946617126465px) translate(0px, 0px);}}#el_fA6d0cT4C *{-webkit-animation-duration: 6s;animation-duration: 6s;-webkit-animation-iteration-count: infinite;animation-iteration-count: infinite;-webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);animation-timing-function: cubic-bezier(0, 0, 1, 1);}#el_6YgICte_J3{fill: #a5c2c6;fill-rule: evenodd;}#el_zcqFJG-T9J{fill-rule: evenodd;fill: #e5c373;}#el_RNAh8sB-96{fill-rule: evenodd;fill: #e7d3a3;}#el_TgqVqSLwWK{fill-rule: evenodd;fill: #e9ac1b;}#el_WRos9ovgz8{fill-rule: evenodd;fill: #e7d3a3;}#el_Jor1VegS_E{fill-rule: evenodd;fill: #fff;}#el_5EKBp5UZoL{fill-rule: evenodd;fill: #e5c373;}#el_TgqVqSLwWK_an_usTUR-now{-webkit-animation-fill-mode: backwards;animation-fill-mode: backwards;-webkit-transform: translate(59.592308044433594px, 30.00946617126465px) translate(-59.592308044433594px, -30.00946617126465px) translate(0px, 0px);transform: translate(59.592308044433594px, 30.00946617126465px) translate(-59.592308044433594px, -30.00946617126465px) translate(0px, 0px);-webkit-animation-name: kf_el_TgqVqSLwWK_an_usTUR-now;animation-name: kf_el_TgqVqSLwWK_an_usTUR-now;-webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);animation-timing-function: cubic-bezier(0, 0, 1, 1);}#el_zcqFJG-T9J_an_QtqJNg9hq{-webkit-animation-fill-mode: backwards;animation-fill-mode: backwards;-webkit-transform: translate(8px, 31.99199867248535px) translate(-8px, -31.99199867248535px) translate(0px, 0px);transform: translate(8px, 31.99199867248535px) translate(-8px, -31.99199867248535px) translate(0px, 0px);-webkit-animation-name: kf_el_zcqFJG-T9J_an_QtqJNg9hq;animation-name: kf_el_zcqFJG-T9J_an_QtqJNg9hq;-webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);animation-timing-function: cubic-bezier(0, 0, 1, 1);}#el_RNAh8sB-96_an_S-u5IL6y5{-webkit-animation-fill-mode: backwards;animation-fill-mode: backwards;-webkit-transform: translate(95.12000274658203px, 31.36400032043457px) translate(-95.12000274658203px, -31.36400032043457px) translate(0px, 0px);transform: translate(95.12000274658203px, 31.36400032043457px) translate(-95.12000274658203px, -31.36400032043457px) translate(0px, 0px);-webkit-animation-name: kf_el_RNAh8sB-96_an_S-u5IL6y5;animation-name: kf_el_RNAh8sB-96_an_S-u5IL6y5;-webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);animation-timing-function: cubic-bezier(0, 0, 1, 1);}#el_5EKBp5UZoL_an_u-dOQtE_-{-webkit-animation-fill-mode: backwards;animation-fill-mode: backwards;-webkit-transform: translate(85.72200012207031px, 85.71900177001953px) translate(-85.72200012207031px, -85.71900177001953px) translate(0px, 0px);transform: translate(85.72200012207031px, 85.71900177001953px) translate(-85.72200012207031px, -85.71900177001953px) translate(0px, 0px);-webkit-animation-name: kf_el_5EKBp5UZoL_an_u-dOQtE_-;animation-name: kf_el_5EKBp5UZoL_an_u-dOQtE_-;-webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);animation-timing-function: cubic-bezier(0, 0, 1, 1);}#el_Jor1VegS_E_an_TX1rc7uUU{-webkit-animation-fill-mode: backwards;animation-fill-mode: backwards;-webkit-transform: translate(77.62800598144531px, 79.40599822998047px) translate(-77.62800598144531px, -79.40599822998047px) translate(0px, 0px);transform: translate(77.62800598144531px, 79.40599822998047px) translate(-77.62800598144531px, -79.40599822998047px) translate(0px, 0px);-webkit-animation-name: kf_el_Jor1VegS_E_an_TX1rc7uUU;animation-name: kf_el_Jor1VegS_E_an_TX1rc7uUU;-webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);animation-timing-function: cubic-bezier(0, 0, 1, 1);}#el_WRos9ovgz8_an_ZyO_hddMR{-webkit-animation-fill-mode: backwards;animation-fill-mode: backwards;-webkit-transform: translate(203.61502075195312px, 64.15483093261719px) translate(-203.61502075195312px, -64.15483093261719px) translate(0px, 0px);transform: translate(203.61502075195312px, 64.15483093261719px) translate(-203.61502075195312px, -64.15483093261719px) translate(0px, 0px);-webkit-animation-name: kf_el_WRos9ovgz8_an_ZyO_hddMR;animation-name: kf_el_WRos9ovgz8_an_ZyO_hddMR;-webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);animation-timing-function: cubic-bezier(0, 0, 1, 1);}</style>
  <defs>
    
  </defs>
  <path id="el_6YgICte_J3" data-name="Shape 1 copy 24" d="M900,86V61h27V86H900ZM865,61h27V86H865V61Zm-35,0h27V86H830V61Zm-33,0h27V86H797V61Zm-36,0h27V86H761V61Zm-35,0h27V86H726V61Zm-35,0h27V86H691V61Zm-35,0h27V86H656V61Zm-33,0h27V86H623V61Zm-36,0h27V86H587V61Zm-35,0h27V86H552V61Zm-35,0h27V86H517V61Zm-35,0h27V86H482V61Zm-33,0h27V86H449V61Zm-36,0h27V86H413V61Zm-36,0h27V86H377V61Zm-35,0h27V86H342V61Zm-35,0h27V86H307V61Zm-33,0h27V86H274V61Zm-36,0h27V86H238V61Zm-36,0h27V86H202V61Zm-35,0h27V86H167V61Zm-35,0h27V86H132V61ZM99,61h27V86H99V61ZM63,61H90V86H63V61ZM26,61H53V86H26V61ZM-9,61H18V86H-9V61Zm-35,0h27V86H-44V61Zm-33,0h27V86H-77V61Zm-36,0h27V86h-27V61Z"/>
  <g id="el_zcqFJG-T9J_an_QtqJNg9hq" data-animator-group="true" data-animator-type="0"><path d="M126.245,69.016L82.584,83.6,70.246,51.239l19.105-6.383v-10.2h30.541l7.974-2.664,1.015,2.664H150.53V69.016H126.245ZM38.747,82.63a8.184,8.184,0,0,1-8.425,7.747A8.467,8.467,0,0,1,22.6,85.649a10.034,10.034,0,0,1-5.01,1.322c-5.3,0-9.59-4.019-9.59-8.978a9.225,9.225,0,0,1,8.609-8.931c0.234-5.363,4.95-9.643,10.736-9.643a10.655,10.655,0,0,1,10.386,7.47q0.423-.04.858-0.04A7.9,7.9,0,1,1,38.747,82.63Z" id="el_zcqFJG-T9J"/></g>
  <g id="el_RNAh8sB-96_an_S-u5IL6y5" data-animator-group="true" data-animator-type="0"><path d="M160.993,31.364L95.12,67.216l18.71,30.128L179.7,61.492Z" id="el_RNAh8sB-96"/></g>
  <g id="el_TgqVqSLwWK_an_usTUR-now" data-animator-group="true" data-animator-type="0"><path d="M59.745,62.581L62.4,57.569,86.249,36.148s12.411-6.8,14.618-6.086,57.881,0,57.881,0,11.511,0.742,13.732,6.444,10.188,18.2,10.188,18.2,2.586,5.685,19.712,8.771,14.764,22.875,14.175,29.058-14.783,5.748-16.242,5.489c-0.8-.142-40.849-0.128-76.693-0.086-18.6.022-45.728-.171-45.728,0.068s-10.026.019-10.026,0.019S59.3,94.683,59.6,91.341,59.745,62.581,59.745,62.581Zm14.323-3.461,21.558-18.8s5.209-2.369,6.423-2.387,57,0,57,0,3.864,0.983,4.725,3.1S174.1,58.882,174.1,58.882Z" id="el_TgqVqSLwWK"/></g>
  <g id="el_WRos9ovgz8_an_ZyO_hddMR" data-animator-group="true" data-animator-type="0"><path d="M215.847,73.756s-4.146-8.45-10.313-9.55S209.486,80.177,215.847,73.756Z" id="el_WRos9ovgz8"/></g>
  <g id="el_Jor1VegS_E_an_TX1rc7uUU" data-animator-group="true" data-animator-type="0"><path id="el_Jor1VegS_E" data-name="Ellipse 1 copy" d="M100.828,79.406c12.815,0,23.2,8.4,23.2,18.766s-10.388,18.766-23.2,18.766-23.2-8.4-23.2-18.766S88.013,79.406,100.828,79.406Zm75.235,0.063c12.823,0,23.218,8.4,23.218,18.766S188.886,117,176.063,117s-23.219-8.4-23.219-18.766S163.239,79.469,176.063,79.469Z"/></g>
  <g id="el_5EKBp5UZoL_an_u-dOQtE_-" data-animator-group="true" data-animator-type="0"><path id="el_5EKBp5UZoL" data-name="Ellipse 1 copy 3" d="M176,85.719c8.405,0,15.219,5.547,15.219,12.391S184.405,110.5,176,110.5s-15.219-5.547-15.219-12.391S167.6,85.719,176,85.719Zm-75.078,0c8.4,0,15.2,5.547,15.2,12.391s-6.807,12.391-15.2,12.391-15.2-5.547-15.2-12.391S92.525,85.719,100.922,85.719Z"/></g>
</svg>
</ion-content>
