page-money {
    @import url("https://fonts.googleapis.com/css?family=Mitr:300&amp;subset=thai" );

    .bg{
        background-image: linear-gradient(to left bottom, #246870, #457e7f, #64948f, #83aba0, #a2c2b3);   
    }
     * {
        font-family: 'MitrTH';
        
     }
      }
      .tab{
          background-color: #246870;
      }
      .wrap {
        width: 80%;
        margin: 0 auto;
      }
      .label{
        font-family: 'MitrTH';
        font-size: 20px;
        color: #e2e2e2;
        font-family: 'MitrTH';
        
      }
      .mat-label {
        font-family: 'MitrTH';
        display: block;
        font-size: 16px;
        transform: translateY(0);
        color: #e2e2e2;
        transition: all 0.5s;
      }
      
      .mat-input {
        position: relative;
        background: transparent;
        width: 100%;
        border: none;
        outline: none;
        padding: 8px 0;
        font-size: 16px;
        color: #e2e2e2;
      }
      
      .mat-div {
        padding: 30px 0 0 0;
        position: relative;
      }
      
      .mat-div:after, .mat-div:before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background-color:#8DB1B5; 
        bottom: 0;
        left: 0;
        transition: all 0.5s;
      }
      
      button {
        background-color: #f7ad45;
        border: none;
        display: block;
        margin: 35px auto;
        padding: 15px 30px;
        border-radius: 10px;
        font-size: 20px;
        font-family: 'MitrTH';
        
      }
      ion-header {
        
      
          .toolbar-background {
            background-color: #f4a93d ;
          }
          .toolbar-title {
            color: #246870;
          }
        
      }
    
      
    