<!--
  Generated template for the AssignPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header >
    <ion-navbar color="vio" >       
      <ion-title ></ion-title>
    </ion-navbar>
    
  </ion-header> 


<ion-content padding class="background-home">
  <ul class="circles">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
      </ul>
      <div class="row">
    <br><br>

  </div>
  <div class="row">
      <br><br>
      
    </div>
    <div class="row">
        <br><br>
        
      </div>
  <div class=row>
  <button  ion-button color="cherry" (click)="home()" class="btn" >HOME</button>
</div>
<div class="row">
    <br><br>
    
  </div>
<div class=row>
    <button  ion-button color="cherry" (click)="about()" class="btn" >ABOUT</button>
  </div>
  <div class="row">
      <br><br>
      
    </div>
  

</ion-content>
