<ion-header >
  <ion-navbar color="vio" >       
    <ion-title ></ion-title>
  </ion-navbar>
  
</ion-header> 
     


<ion-content   padding  class="background-home">
    <span ion-fixed style="height: 100%; width: 100%;padding-left:15px ">
    <!-- Header -->
    <br>
    <h1>Select Climate</h1>
    <p></p>
    <h1>Settings</h1>
    <p></p>
    <h5 style="color: #998ead">Favorite Presets</h5>
    <!-- Slide -->
    
    <ion-slides slidesPerView="2.5" spaceBetween="5" style="height:175px">
      <ion-slide>
        <div class="menu-home-active">
          <img src="./assets/imgs/sun.svg" style="width:50%;height:50% ">
          <br>
          <span>Heat</span>
          <br>
          <span style="font-size:30px">10 ํ-19 ํ</span>
        </div>
        
      </ion-slide>
      
      <ion-slide>
        <div class="menu-home-close">
            <img src="./assets/imgs/snowflake.svg" style="width:50%;height:50%;opacity:1 ; ">
            <br>
            <span>Cool</span>
            <br>
            <span style="font-size:30px">3 ํ-7 ํ</span>
        </div>
      
      </ion-slide>
      
      <ion-slide>
        
          <div class="menu-home-close">
              <img src="./assets/imgs/wind.svg" style="width:50%;height:50%;opacity:1 ; ">
              <br>
              <span>Wet</span>
              <br>
              <span style="font-size:30px">7 ํ-11 ํ</span>
          </div>
        </ion-slide>
      <ion-slide>

          <div class="menu-home-close">
              <img src="./assets/imgs/dryer.svg" style="width:50%;height:50%;">
              <br>
              <span>Dry</span>
              <br>
              <span style="font-size:30px">10 ํ-19 ํ</span>
          </div>        
      </ion-slide>
      
    </ion-slides>
  <br>


  <div style="text-align: center;">
    <span style="font-size:120px;">19</span>
    <span style="font-size:28px;">temp</span></div>
    <!-- Wave Footer -->
    <div class="wave"></div>
    <div class="wave wave1"></div>
    <div class="wave wave2"></div>
    
  </span>
    </ion-content>