
page-home {
    .background-home {
       
        background-image: linear-gradient(to right top, #1a0a3a, #240f51, #2f146a, #3b1884, #471c9e);
        color: #ffffff;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
        overflow: hidden;
    }
    

    ion-content{
        background: url('https://i.imgur.com/olLunTc.jpg')no-repeat fixed;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        overflow: hidden;
      }
    .wave {
        position: absolute;
        width: 900px;
        height: 900px;
        transform-origin: 50% 48%;
        border-radius: 43%;
        animation: drift 3000ms infinite linear;
        opacity: 0.3;
        bottom: -140%;
        left: -70%;
        background-image: linear-gradient(to bottom, #6285c6, #5064a2, #3e447e, #2c275b, #1a0a3a);
        box-shadow:20px 20px 50px 15px #1a0a3a;
        
    }
    
    .wave.wave1 {
        animation: drift 6000ms infinite linear;
    }
    
    .wave.wave2{
        animation: drift 8000ms infinite linear;
    }
    
    @keyframes drift {
        from{transform: rotate(0deg);}
        from{transform: rotate(360deg);}
    }
    
    .menu-home-active{
        height: 175px;
        //width: 200px;
        background: #ff3e62;
        border-radius: 10px;
        transform-origin: 50% 48%;
        
        
    }
    

    
    .menu-home-close{
        height: 175px;
        //width: 200px;
        border-radius: 10px;
        border-color: #ffffff; 
        border-style: solid; 
        border: 1px solid rgba(255, 255, 255, 0.5);
    }
}