<ion-header>

  <ion-navbar>
      
      
  </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding class="color-change-2x ">
     
  <ion-card class="box">
      
      <ion-card-content>
          <ion-label class="head" >ยอดไฟแนนซ์: </ion-label> 
          <ion-label fixed>{{finance}}</ion-label> 
        </ion-card-content>
      </ion-card>
      <br>
      <ion-card class="box">
         <ion-card-content>
      
            <ion-label class="head" >ดอกเบี้ยต่อปี: </ion-label> 
            <ion-label fixed >{{this.interestyear}}</ion-label> 
          </ion-card-content>
        </ion-card>
        <br>
        <ion-card class="box">
          <ion-card-content>
              <ion-label class="head">ยอดจ่ายรวมทั้งหมด: </ion-label> 
              <ion-label fixed >{{totalpayreal}}</ion-label> 
            </ion-card-content>
          </ion-card>
            <br>
            <ion-card class="box">
              <ion-card-content>
                  <ion-label  class="head">ยอดผ่อนต่อเดือน: </ion-label> 
                  <ion-label fixed>{{this.period_month}}</ion-label> 
                </ion-card-content>
    </ion-card>
  </ion-content>