page-popupshow {
    .box{
        border-radius: 15px;
       box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        background-color: #153e43;
    }
    
    .head{
        font-size: 16px;
        color:#eda948;
    }
   .img{
       width: 10%;
       height:10%;
   }
   .color-change-2x {
	animation: color-change-2x 2s linear infinite alternate both;
}
   @keyframes color-change-2x {
    0% {
      background:#246870;
    }
    100% {
      background:#4b715f;
    }
  }
}
   