page-menu {
    .bg{
        background-image: linear-gradient(to left bottom, #246870, #457e7f, #64948f, #83aba0, #a2c2b3);}
    
    .btn{
        margin-left: auto;
        margin-right: auto;
        font-size: 140%;
        border-radius: 100px;
  padding: 20px 60px;
  text-decoration: none;
  font-size: 1.45em;
    }
    .label{
        font-family: sans-serif;
        font-size: 40px;
        letter-spacing: 1px;
        word-spacing: 2px;
        color:#FFFF;
        font-weight: 700;
        text-decoration: none;
        text-align: center;
        text-shadow: 3px 3px #246870 ;
        -webkit-animation: text-shadow-pop-right 3s both;
	        animation: text-shadow-pop-right 3s both;

    }
    @-webkit-keyframes text-shadow-pop-right {
        0% {
          text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
          -webkit-transform: translateX(0);
                  transform: translateX(0);
        }
        100% {
          text-shadow: 1px 0 #555555, 2px 0 #555555, 3px 0 #555555, 4px 0 #555555, 5px 0 #555555, 6px 0 #555555, 7px 0 #555555, 8px 0 #555555;
          -webkit-transform: translateX(-8px);
                  transform: translateX(-8px);
        }
      }
      @keyframes text-shadow-pop-right {
        0% {
          text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
          -webkit-transform: translateX(0);
                  transform: translateX(0);
        }
        100% {
          text-shadow: 1px 0 #555555, 2px 0 #555555, 3px 0 #555555, 4px 0 #555555, 5px 0 #555555, 6px 0 #555555, 7px 0 #555555, 8px 0 #555555;
          -webkit-transform: translateX(-8px);
                  transform: translateX(-8px);
        }
      }
      
    .road{
        position: absolute;
        bottom: -38%;
        left: -50%;
        width: 150%;
        height:95%;
        
    }
    .car{
        position: absolute;
        bottom: 3.5%;
        left: 10%;
        
    }
}
