
<ion-content padding class="bg">
  <span ion-fixed style="height: 100%; width: 100%;padding-left:15px ">
<div class="row">

<br><br>
</div>

<div class="row">
  
<br><br>
</div>
<div class="row">
<ion-label class="label">MENU</ion-label>
</div>
<div class="row">
<br><br>
</div>
<div class="row">
<button  ion-button color="yellow" (click)="money()" class="btn" >Finance Calculator</button>
</div>
<div class="row">
<br>
</div>


<svg class="road" xmlns="http://www.w3.org/2000/svg" width="900" height="298" viewBox="0 0 900 298">
<defs>
  <style>
    .cls-1 {
      fill: #07292d;
    }

    .cls-1, .cls-2, .cls-3, .cls-4, .cls-5 {
      fill-rule: evenodd;
    }

    .cls-2 {
      fill: #0b3b41;
    }

    .cls-3 {
      fill: #114a51;
    }

    .cls-4 {
      fill: #45666a;
    }

    .cls-5 {
      fill: #a5c2c6;
    }
  </style>
</defs>
<path class="cls-1" d="M198,193a31.847,31.847,0,0,1-15.8-4.178,23.464,23.464,0,0,1-25.787,2.4,30.5,30.5,0,0,1-49.464,12.816,41.981,41.981,0,0,1-68.481-3.655,30.5,30.5,0,1,1-24.29-53.9A36.463,36.463,0,0,1,30.034,89.186,34.513,34.513,0,0,1,62.5,43c1.105,0,2.2.057,3.276,0.159a34,34,0,0,1,66.175,9.029,34.956,34.956,0,0,1,41.4,47.1,22.04,22.04,0,0,1,12.987,12.336A26.052,26.052,0,0,1,200.3,129.091,32,32,0,0,1,198,193Z"/>
<path id="Ellipse_1_copy_3" data-name="Ellipse 1 copy 3" class="cls-1" d="M693,233a31.847,31.847,0,0,1-15.8-4.178,23.464,23.464,0,0,1-25.787,2.4,30.5,30.5,0,0,1-49.464,12.816,41.981,41.981,0,0,1-68.481-3.655,30.5,30.5,0,1,1-24.29-53.9,36.463,36.463,0,0,1,15.859-57.287A34.513,34.513,0,0,1,557.5,83c1.105,0,2.2.057,3.276,0.159a34,34,0,0,1,66.175,9.029,34.956,34.956,0,0,1,41.4,47.1,22.038,22.038,0,0,1,12.987,12.336A26.052,26.052,0,0,1,695.3,169.091,32,32,0,0,1,693,233Z"/>
<path id="Ellipse_1_copy" data-name="Ellipse 1 copy" class="cls-2" d="M378,212a31.847,31.847,0,0,1-15.8-4.178,23.464,23.464,0,0,1-25.787,2.4,30.5,30.5,0,0,1-49.464,12.816,41.981,41.981,0,0,1-68.481-3.655,30.5,30.5,0,1,1-24.29-53.9,36.463,36.463,0,0,1,15.859-57.287A34.513,34.513,0,0,1,242.5,62c1.1,0,2.2.057,3.276,0.159a34,34,0,0,1,66.175,9.029,34.956,34.956,0,0,1,41.4,47.1,22.038,22.038,0,0,1,12.987,12.336A26.052,26.052,0,0,1,380.3,148.091,32,32,0,0,1,378,212Z"/>
<path id="Ellipse_1_copy_2" data-name="Ellipse 1 copy 2" class="cls-2" d="M881,244a31.847,31.847,0,0,1-15.8-4.178,23.464,23.464,0,0,1-25.787,2.4,30.5,30.5,0,0,1-49.464,12.816,41.981,41.981,0,0,1-68.481-3.655,30.5,30.5,0,1,1-24.29-53.9,36.463,36.463,0,0,1,15.859-57.287A34.513,34.513,0,0,1,745.5,94c1.105,0,2.2.057,3.276,0.159a34,34,0,0,1,66.175,9.029,34.956,34.956,0,0,1,41.4,47.1,22.038,22.038,0,0,1,12.987,12.336A26.052,26.052,0,0,1,883.3,180.091,32,32,0,0,1,881,244Z"/>
<path id="Rectangle_1_copy" data-name="Rectangle 1 copy" class="cls-3" d="M-84.312,139.007l1121.3,26.817-5.7,115.167-1121.3-26.817Z"/>
<path class="cls-4" d="M-6.076,149l963.06,23.032-4.9,98.946L-10.974,247.944Z"/>
<path class="cls-5" d="M42.411,189.993l52.6,2.343-0.421,9.671-52.6-2.343Z"/>
<path id="Rectangle_2_copy_4" data-name="Rectangle 2 copy 4" class="cls-5" d="M230.411,195.993l52.6,2.343-0.422,9.671-52.6-2.343Zm167,0,52.6,2.343-0.422,9.671-52.6-2.343Zm171,6,52.6,2.343-0.422,9.671-52.6-2.343Zm171,6,52.6,2.343-0.422,9.671-52.6-2.343Z"/>
</svg>


<svg class="car" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 789 316" id="el_OJXKDBCyQ"><style>@-webkit-keyframes kf_el_pr0CD2ocQp_an_QpkWMNXPh{0%{-webkit-transform: translate(297.093994140625px, 175.56300354003906px) translate(-297.093994140625px, -175.56300354003906px) translate(0px, 0px);transform: translate(297.093994140625px, 175.56300354003906px) translate(-297.093994140625px, -175.56300354003906px) translate(0px, 0px);}33.33%{-webkit-transform: translate(297.093994140625px, 175.56300354003906px) translate(-297.093994140625px, -175.56300354003906px) translate(0px, -5px);transform: translate(297.093994140625px, 175.56300354003906px) translate(-297.093994140625px, -175.56300354003906px) translate(0px, -5px);}57.78%{-webkit-transform: translate(297.093994140625px, 175.56300354003906px) translate(-297.093994140625px, -175.56300354003906px) translate(0px, 0px);transform: translate(297.093994140625px, 175.56300354003906px) translate(-297.093994140625px, -175.56300354003906px) translate(0px, 0px);}80%{-webkit-transform: translate(297.093994140625px, 175.56300354003906px) translate(-297.093994140625px, -175.56300354003906px) translate(0px, -5px);transform: translate(297.093994140625px, 175.56300354003906px) translate(-297.093994140625px, -175.56300354003906px) translate(0px, -5px);}100%{-webkit-transform: translate(297.093994140625px, 175.56300354003906px) translate(-297.093994140625px, -175.56300354003906px) translate(0px, 0px);transform: translate(297.093994140625px, 175.56300354003906px) translate(-297.093994140625px, -175.56300354003906px) translate(0px, 0px);}}@keyframes kf_el_pr0CD2ocQp_an_QpkWMNXPh{0%{-webkit-transform: translate(297.093994140625px, 175.56300354003906px) translate(-297.093994140625px, -175.56300354003906px) translate(0px, 0px);transform: translate(297.093994140625px, 175.56300354003906px) translate(-297.093994140625px, -175.56300354003906px) translate(0px, 0px);}33.33%{-webkit-transform: translate(297.093994140625px, 175.56300354003906px) translate(-297.093994140625px, -175.56300354003906px) translate(0px, -5px);transform: translate(297.093994140625px, 175.56300354003906px) translate(-297.093994140625px, -175.56300354003906px) translate(0px, -5px);}57.78%{-webkit-transform: translate(297.093994140625px, 175.56300354003906px) translate(-297.093994140625px, -175.56300354003906px) translate(0px, 0px);transform: translate(297.093994140625px, 175.56300354003906px) translate(-297.093994140625px, -175.56300354003906px) translate(0px, 0px);}80%{-webkit-transform: translate(297.093994140625px, 175.56300354003906px) translate(-297.093994140625px, -175.56300354003906px) translate(0px, -5px);transform: translate(297.093994140625px, 175.56300354003906px) translate(-297.093994140625px, -175.56300354003906px) translate(0px, -5px);}100%{-webkit-transform: translate(297.093994140625px, 175.56300354003906px) translate(-297.093994140625px, -175.56300354003906px) translate(0px, 0px);transform: translate(297.093994140625px, 175.56300354003906px) translate(-297.093994140625px, -175.56300354003906px) translate(0px, 0px);}}@-webkit-keyframes kf_el_OYCOK1VCnG_an_kxNAld6jb{0%{-webkit-transform: translate(69.593994140625px, 175.75px) translate(-69.593994140625px, -175.75px) translate(0px, 0px);transform: translate(69.593994140625px, 175.75px) translate(-69.593994140625px, -175.75px) translate(0px, 0px);}33.33%{-webkit-transform: translate(69.593994140625px, 175.75px) translate(-69.593994140625px, -175.75px) translate(0px, -5px);transform: translate(69.593994140625px, 175.75px) translate(-69.593994140625px, -175.75px) translate(0px, -5px);}57.78%{-webkit-transform: translate(69.593994140625px, 175.75px) translate(-69.593994140625px, -175.75px) translate(0px, 0px);transform: translate(69.593994140625px, 175.75px) translate(-69.593994140625px, -175.75px) translate(0px, 0px);}80%{-webkit-transform: translate(69.593994140625px, 175.75px) translate(-69.593994140625px, -175.75px) translate(0px, -5px);transform: translate(69.593994140625px, 175.75px) translate(-69.593994140625px, -175.75px) translate(0px, -5px);}100%{-webkit-transform: translate(69.593994140625px, 175.75px) translate(-69.593994140625px, -175.75px) translate(0px, 0px);transform: translate(69.593994140625px, 175.75px) translate(-69.593994140625px, -175.75px) translate(0px, 0px);}}@keyframes kf_el_OYCOK1VCnG_an_kxNAld6jb{0%{-webkit-transform: translate(69.593994140625px, 175.75px) translate(-69.593994140625px, -175.75px) translate(0px, 0px);transform: translate(69.593994140625px, 175.75px) translate(-69.593994140625px, -175.75px) translate(0px, 0px);}33.33%{-webkit-transform: translate(69.593994140625px, 175.75px) translate(-69.593994140625px, -175.75px) translate(0px, -5px);transform: translate(69.593994140625px, 175.75px) translate(-69.593994140625px, -175.75px) translate(0px, -5px);}57.78%{-webkit-transform: translate(69.593994140625px, 175.75px) translate(-69.593994140625px, -175.75px) translate(0px, 0px);transform: translate(69.593994140625px, 175.75px) translate(-69.593994140625px, -175.75px) translate(0px, 0px);}80%{-webkit-transform: translate(69.593994140625px, 175.75px) translate(-69.593994140625px, -175.75px) translate(0px, -5px);transform: translate(69.593994140625px, 175.75px) translate(-69.593994140625px, -175.75px) translate(0px, -5px);}100%{-webkit-transform: translate(69.593994140625px, 175.75px) translate(-69.593994140625px, -175.75px) translate(0px, 0px);transform: translate(69.593994140625px, 175.75px) translate(-69.593994140625px, -175.75px) translate(0px, 0px);}}@-webkit-keyframes kf_el_tnfAtd9A8k_an_xgZ7KnS_9{0%{-webkit-transform: translate(529.9862670898438px, 111.00955200195312px) scale(1, 1) translate(-529.9862670898438px, -111.00955200195312px);transform: translate(529.9862670898438px, 111.00955200195312px) scale(1, 1) translate(-529.9862670898438px, -111.00955200195312px);}33.33%{-webkit-transform: translate(529.9862670898438px, 111.00955200195312px) scale(1.2, 1.2) translate(-529.9862670898438px, -111.00955200195312px);transform: translate(529.9862670898438px, 111.00955200195312px) scale(1.2, 1.2) translate(-529.9862670898438px, -111.00955200195312px);}57.78%{-webkit-transform: translate(529.9862670898438px, 111.00955200195312px) scale(1, 1) translate(-529.9862670898438px, -111.00955200195312px);transform: translate(529.9862670898438px, 111.00955200195312px) scale(1, 1) translate(-529.9862670898438px, -111.00955200195312px);}80%{-webkit-transform: translate(529.9862670898438px, 111.00955200195312px) scale(1.2, 1.2) translate(-529.9862670898438px, -111.00955200195312px);transform: translate(529.9862670898438px, 111.00955200195312px) scale(1.2, 1.2) translate(-529.9862670898438px, -111.00955200195312px);}100%{-webkit-transform: translate(529.9862670898438px, 111.00955200195312px) scale(1, 1) translate(-529.9862670898438px, -111.00955200195312px);transform: translate(529.9862670898438px, 111.00955200195312px) scale(1, 1) translate(-529.9862670898438px, -111.00955200195312px);}}@keyframes kf_el_tnfAtd9A8k_an_xgZ7KnS_9{0%{-webkit-transform: translate(529.9862670898438px, 111.00955200195312px) scale(1, 1) translate(-529.9862670898438px, -111.00955200195312px);transform: translate(529.9862670898438px, 111.00955200195312px) scale(1, 1) translate(-529.9862670898438px, -111.00955200195312px);}33.33%{-webkit-transform: translate(529.9862670898438px, 111.00955200195312px) scale(1.2, 1.2) translate(-529.9862670898438px, -111.00955200195312px);transform: translate(529.9862670898438px, 111.00955200195312px) scale(1.2, 1.2) translate(-529.9862670898438px, -111.00955200195312px);}57.78%{-webkit-transform: translate(529.9862670898438px, 111.00955200195312px) scale(1, 1) translate(-529.9862670898438px, -111.00955200195312px);transform: translate(529.9862670898438px, 111.00955200195312px) scale(1, 1) translate(-529.9862670898438px, -111.00955200195312px);}80%{-webkit-transform: translate(529.9862670898438px, 111.00955200195312px) scale(1.2, 1.2) translate(-529.9862670898438px, -111.00955200195312px);transform: translate(529.9862670898438px, 111.00955200195312px) scale(1.2, 1.2) translate(-529.9862670898438px, -111.00955200195312px);}100%{-webkit-transform: translate(529.9862670898438px, 111.00955200195312px) scale(1, 1) translate(-529.9862670898438px, -111.00955200195312px);transform: translate(529.9862670898438px, 111.00955200195312px) scale(1, 1) translate(-529.9862670898438px, -111.00955200195312px);}}#el_OJXKDBCyQ *{-webkit-animation-duration: 3s;animation-duration: 3s;-webkit-animation-iteration-count: infinite;animation-iteration-count: infinite;-webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);animation-timing-function: cubic-bezier(0, 0, 1, 1);}#el_gNPfnMAkX8{fill: #e5c373;fill-rule: evenodd;}#el_tnfAtd9A8k{fill: #e5c373;fill-rule: evenodd;}#el_8Ufp9GvlWD{fill-rule: evenodd;fill: #e7d3a3;}#el_ay17A_JEi0{fill-rule: evenodd;fill: #e9ac1b;}#el_X7bv2pzZxp{fill-rule: evenodd;fill: #e7d3a3;}#el_pr0CD2ocQp{fill: #fff;}#el_OYCOK1VCnG{fill: #fff;}#el_5sA3jlhmmG{fill: #e5c373;}#el_tuWBWSAjkF{fill: #e5c373;}#el_tnfAtd9A8k_an_xgZ7KnS_9{-webkit-animation-fill-mode: backwards;animation-fill-mode: backwards;-webkit-transform: translate(529.9862670898438px, 111.00955200195312px) scale(1, 1) translate(-529.9862670898438px, -111.00955200195312px);transform: translate(529.9862670898438px, 111.00955200195312px) scale(1, 1) translate(-529.9862670898438px, -111.00955200195312px);-webkit-animation-name: kf_el_tnfAtd9A8k_an_xgZ7KnS_9;animation-name: kf_el_tnfAtd9A8k_an_xgZ7KnS_9;-webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);animation-timing-function: cubic-bezier(0, 0, 1, 1);}#el_OYCOK1VCnG_an_kxNAld6jb{-webkit-animation-fill-mode: backwards;animation-fill-mode: backwards;-webkit-transform: translate(69.593994140625px, 175.75px) translate(-69.593994140625px, -175.75px) translate(0px, 0px);transform: translate(69.593994140625px, 175.75px) translate(-69.593994140625px, -175.75px) translate(0px, 0px);-webkit-animation-name: kf_el_OYCOK1VCnG_an_kxNAld6jb;animation-name: kf_el_OYCOK1VCnG_an_kxNAld6jb;-webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);animation-timing-function: cubic-bezier(0, 0, 1, 1);}#el_pr0CD2ocQp_an_QpkWMNXPh{-webkit-animation-fill-mode: backwards;animation-fill-mode: backwards;-webkit-transform: translate(297.093994140625px, 175.56300354003906px) translate(-297.093994140625px, -175.56300354003906px) translate(0px, 0px);transform: translate(297.093994140625px, 175.56300354003906px) translate(-297.093994140625px, -175.56300354003906px) translate(0px, 0px);-webkit-animation-name: kf_el_pr0CD2ocQp_an_QpkWMNXPh;animation-name: kf_el_pr0CD2ocQp_an_QpkWMNXPh;-webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);animation-timing-function: cubic-bezier(0, 0, 1, 1);}</style>
<defs>
  
</defs>
<path id="el_gNPfnMAkX8" data-name="Rectangle 2 copy" d="M402,63.958l57.773,20.617L422.465,189.117,290.435,142H217V31h65.464l3.071-8.6L309.648,31H402V63.958Z"/>
<g id="el_tnfAtd9A8k_an_xgZ7KnS_9" data-animator-group="true" data-animator-type="2"><path d="M648,171a29,29,0,0,1-44.15,24.729,25.483,25.483,0,0,1-48.826-9.753A25.49,25.49,0,0,1,555.5,135a25.842,25.842,0,0,1,2.593.131,32.5,32.5,0,0,1,63.873,7.019A29,29,0,0,1,648,171Z" id="el_tnfAtd9A8k"/></g>
<path d="M185.362,20.376l199.2,115.809-56.58,97.32L128.782,117.7Z" id="el_8Ufp9GvlWD"/>
<path d="M491.527,121.214l-8.037-16.19L411.381,35.829s-37.53-21.963-44.2-19.66-175.028,0-175.028,0-34.81,2.4-41.524,20.816-30.809,58.787-30.809,58.787S112,114.135,60.21,124.105,15.563,198,17.346,217.971s44.7,18.568,49.115,17.733c2.429-.46,123.523-0.414,231.914-0.279,56.239,0.07,138.277-.551,138.277.218s30.318,0.061,30.318.061,25.895-10.794,25-21.588S491.527,121.214,491.527,121.214Zm-43.31-11.179L383.028,49.321s-15.752-7.653-19.422-7.71-172.349,0-172.349,0-11.684,3.175-14.288,10.023-31.255,57.63-31.255,57.63Z" id="el_ay17A_JEi0"/>
<path d="M19.487,157.312s12.537-27.3,31.184-30.847S38.72,178.051,19.487,157.312Z" id="el_X7bv2pzZxp"/>
<g id="el_pr0CD2ocQp_an_QpkWMNXPh" data-animator-group="true" data-animator-type="0"><ellipse cx="367.297" cy="236.188" rx="70.203" ry="60.625" id="el_pr0CD2ocQp"/></g>
<g id="el_OYCOK1VCnG_an_kxNAld6jb" data-animator-group="true" data-animator-type="0"><ellipse id="el_OYCOK1VCnG" data-name="Ellipse 1 copy" cx="139.797" cy="236.375" rx="70.203" ry="60.625"/></g>
<ellipse id="el_5sA3jlhmmG" data-name="Ellipse 1 copy 2" cx="140" cy="236" rx="46" ry="40"/>
<ellipse id="el_tuWBWSAjkF" data-name="Ellipse 1 copy 3" cx="367" cy="236" rx="46" ry="40"/>
</svg>
<div class="row">
    <button  ion-button color="yellow" (click)="google()" class="btn" >API Google</button></div>
<div class="row">
      
        <br/>
      </div>
<div class="row">
      <button  ion-button color="yellow" (click)="Assignment()" class="btn" >Assignment</button>
</div>
</span>
</ion-content>
